<h1>Contact Details</h1>
<div ng-hide="saving">Saving contact</div>
<form>
    <table class="table table-stripped">
        <tr>
            <td><label for="firstName">First Name</label></td>
            <td><input type="text" id="firstName" ng-model="contact.firstname"></td>
        </tr>
        <tr>
            <td><label for="lastName">Last Name</label></td>
            <td><input type="text" id="lastName" ng-model="contact.lastname"></td>
        </tr>
        <tr>
            <td><label for="phone">Phone Number</label></td>
            <td><input type="tel" id="phone" ng-model="contact.phone"></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="email" id="email" ng-model="contact.email"></td>
        </tr>
        <tr>
            <td><label for="category">Category</label></td>
            <td>
                <select id="category" ng-options="name for category in categories">
                </select>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="createContact()">Update</button>
    <a class="btn btn-default" href="/contacts">Abort</a>
</form>